
        *,
        *::before,
        *::after {
            box-sizing: border-box;

        }

        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family:'Roboto Condensed', sans-serif;
            
            justify-content: center;

        }

        a {
            text-decoration: none;
        }

        button {
            border: 0;
            outline: none;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
        }

        .navbar {
            height: 90px;
            background-color:#98002E;
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* border-radius: 20px; */
        }

        .navbar .logo i {
            color: #0aa5ff;
            font-size: 22px;
        }

        /* .navbar .logo a{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
} */
        #logopic {
            height: 90px;
            margin: -20px;

        }

        .menu {
            display: flex;
            align-items: center;
            gap: 32px;

        }

        .menu-links {
            display: flex;
            gap: 24px;
            border-right: 1px solid #999999;
            padding-inline: 24px;
        }

        .menu-links a {
            font-weight: 500;
            color: white;
            padding: 8px 16px;
        }

        .menu-links a:hover {
            color: #fdb714;
        }

        .log-in {
            font-weight: 500;
            padding: 12px 22px;
            background-color: transparent;
            color: #ffffff;
            border-radius: 10px;
            border: 2px solid #eab7b7;
            transition: 0.2s;

        }

        .log-in:hover {
            /* background-color: #640f0c;
            
            border: 2px solid #632222; */
background: #6d0f23;
color: #fdb714;
box-shadow: 0 0 5px #6d0f23, 0 0 25px #6d0f23, 0 0 50px #6d0f23, 0 0 200px #6d0f23;
        }

        .menu-btn {
            font-size: 32px;
            color: white;
            display: none;
            cursor: pointer;
        }

        @media (max-width: 53rem) {
            .menu {
                display: none;
            }

            .menu-btn {
                display: block;
            }
        }
    

       /* from here starts the image */


     